.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 70px;
}

.botao-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.dados-pesquisa-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.saldo-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}