.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  margin: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
  
.botaoContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
}

.botaoPesquisar {
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: #09923e;
  border: 0px;
}

.botaoPesquisar:hover {
  background-color: #0ea846;
}

.botaoLimpar {
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  background-color: #b9280e;
  border: 0px;
}

.botaoLimpar:hover {
  background-color: #ff2701;
}
  
.dadosPesquisaForm {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.saldoTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 20px;
}

.inputField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}